
<div id="mails">
  <div class="maili"><b>Subject</b> bob</div>
  <div class="maili"><b>RE: weclome</b> The Commisioner</div>
</div>
<div id="mailbody">
  <div class="btn">
  <%=link_to 'new message', '/messages/new' %>
  </div>

  RE: welcome
  <p>fadskjdnfksdnf
     skdjnf jskdnf knsdjkf ksdn fksdnfj ksdnkfn skdjnfas
      skdjnf jskdnf knsdjkf ksdn fksdnfj ksdnkfn skdjnfas
       skdjnf jskdnf knsdjkf ksdn fksdnfj ksdnkfn skdjnfas
       skdjnf jskdnf knsdjkf ksdn fksdnfj ksdnkfn skdjnfas
        skdjnf jskdnf knsdjkf ksdn fksdnfj ksdnkfn skdjnfas
         skdjnf jskdnf knsdjkf ksdn fksdnfj ksdnkfn skdjnfas

    </p>

</div>
