<div class="btn">
<%=link_to 'new message', '/messages/create' %>
</div>
<div id="mails">
  <div class="maili"><b>Subject</b> bob</div>
  <div class="maili"><b>RE: weclome</b> The Commisioner</div>
</div>
<div id="mailbody">
  RE: welcome
</div>
