<h2>stray furbabies</h2>

<table>
  <tr><th>bday</th><th>dna</th></tr>
  <% @furbabies.each do |f| %>
  <tr>
    <td>
     <%=f.created_at%>
    </td>
    <td>
     <%=f.dna%>
    </td>
  </tr>
  <%end%>
</table>
