<% content_for :path do %><%=link_to 'furbabies/','/furbabies'%> <% end %>
<h2>stray furbabies</h2>

<table>
  <% @furbabies.each do |f| %>
  <tr>
    <td>
      <h1> <%=Token.where(furbaby_id:f.id).first=%> </h1>
      <%=render f %>
    </td>
  </tr>
  <%end%>
</table>
