/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$bcyan: #B9FDE6;
$cyan: #73F8ED;
$pcyan: #306E61;
$dcyan: #0D2120;
body {
  margin: 0;
  background: $dcyan;
}

a {
  text-decoration: none;
  color: $dcyan;
}

canvas {
  position: absolute;
  z-index: -1;
}
#win {
  position: absolute;
  top: 10%;
  left: 5%;
  max-width: 800px;
  padding: 3px;
  h1 {
    min-width: 500px;
    font-size: 1.6em;
    font-style: italic;
    text-align: left;
    padding: 0.3em 0.6em;
    background: $cyan;
    color: $dcyan;
    margin: 0;
    border-radius: 0.4em 0.4em 0 0;
  }
  .login {
    float: right;
    margin: 0.4em;
    font-weight: bold;
    color: $pcyan;
  }
  .login a:hover {
    color: $bcyan;
  }
}
#win, #win input, .btn a {
  font-family: monospace;
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0.6);
  color: $cyan;
  border: solid 1px $cyan;
  border-radius: 0.9em;
}
#win input, .btn a {
  padding: .7em 2em;
}
#win input:hover, .btn a:hover {
  cursor: pointer;
  background-color: rgba(73, 119, 110, 0.4);
}
#win input:active, .btn a:active {
  background-color: rgba(73, 119, 110, 0.9);
}
.btn a {
  display: inline;
  margin-left: 40px;
}
#winb {
  margin: 1em;
  pre {
    font-size: 0.7em;
    text-shadow: 0 1px $cyan;
  }
}


#win .emoji {
filter: hue-rotate(130deg) brightness(.1);
position: relative;
top: 2px;
height: 1em;
width: 1em;
}
#winb .emoji {
  height: 2em;
  width: 2em;
  filter: hue-rotate(130deg);
  //animation-name: colors;
  animation-duration: 0.088s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  position:relative;
}
@keyframes colors {
  0% {
    top: 0; left: 1px; background: none;
  filter: hue-rotate(125deg);}
  90% {
    top: 0;
  filter: hue-rotate(125deg);}
    96% { top: 1px; left: 0px;
      filter: hue-rotate(185deg); background: none;}
  100% { top: 0; left: 2px;
    filter: hue-rotate(125deg); background: #887D03;}
}


#mails {
  float: left;
  margin: -1.2em;
  padding: 1em;
  width: 10em;
  height: 19em;
  border-right: solid 1px $cyan;
}

#mails .maili {
  border-bottom: solid 1px $cyan;
  padding: 1em;
}

#mailbody {
  float: left;
  height: 20em;
  padding-left: 2em;
}
