/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$bcyan: #B9FDE6;
$cyan: #73F8ED;
$acyan: #5CC1BA;
$lcyan: #3C8469;
$pcyan: #306E61;
$dcyan: #0D2120;
$vdcyan: #001110;
$magenta: #f8429D;

$hcyan: rgba(115, 248, 237, 0.12);
$hhcyan: rgba(115, 255, 247, 0.85);

body {
  margin: 0;
  background: $vdcyan;
}

a {
  text-decoration: none;
  color: $dcyan;
}
s {
  font-weight: bold;
  font-size: 0.75em;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
form {
  margin-bottom: 0.4em;
}
hr {
  border: 1px solid $hcyan;
}
  b.good { color: $cyan; }
b.ok { color: $pcyan; }
b.warn { color: $magenta; }
b.bad { color: red; }

#box {
  height: 100vh;
  overflow: scroll;
}
#win {
  opacity: 0.95;
  max-width: 600px;
  max-height: 1000px;
  padding: 5px;
  margin-top: 2em;
  margin-left: 0.5em;
  margin-bottom: 1000px;
  overflow: scroll;
  #bar {
    position: sticky;
    top: 0;
    left: 0;
    background: $hhcyan;
    border-radius: 0.4em 0.4em 0 0;
    h1 {
      font-size: 1.2em;
      font-style: italic;
      text-align: left;
      padding: 0.3em 0.6em;
      color: $dcyan;
      margin: 0;
    }
    .login {
      float: right;
      text-align: right;
      margin: 0.3em 0.5em;
      font-weight: bold;
      color: $pcyan;
    }
    .login a:hover {
      color: $bcyan;
    }
  }
  div {
    overflow: scroll;
  }
  .btn form, .btn a {
    display: inline-block;
  }
}

#win input, .btn a, textarea, select {
  padding: 0.8em 1em;
}
#win input:hover, .btn a:hover {
  cursor: pointer;
  color: $cyan;
  background-color: $hcyan;
}
#win input:active, .btn a:active {
  background-color: $hhcyan;
}
.btn a {
  margin: 0 0 0.5em 0.5em;
}
#win, input, .btn a, textarea, select {
  font-family: monospace;
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0.65);
  color: $acyan;
  border: solid 1px $cyan;
  border-radius: 0.7em;
  min-width: 1em;
}
#win {
  color: $cyan;
  input, .btn a, textarea, select {
    margin-bottom: 0.4em;
  }
}
#winb {
  margin: 0.4em 0 0 0;
  min-width: 40em;
  #splash {
    font-size: 0.7em;
    font-weight: bold;
    text-shadow: 0 1px $cyan;
    margin: 0;
  }
  a {
    color: $acyan;
  }
  a:hover {
    color: $cyan;
  }
  h2, h3 {
    margin: 0.25em 0;
  }
  h3 {
    color: $lcyan;
  }
  table {
    width: 100%;
    border-radius: 0.6em;
    border-spacing: 0;
    border: solid 1px $cyan;
    border-bottom-color: $pcyan;
    margin-bottom: 0.4em;
    th, td {
      border-radius: 0 0 0.5em 0.5em;
      padding: 0.4em;
      border-right: solid 1px $hcyan;
      border-bottom: solid 1px $cyan;
    }
    td {
      color: $acyan;
      background: $vdcyan;
      vertical-align: top;
    }
    th {
      color: $acyan;
      background: $hcyan;
    }
    thead th {
      color: $dcyan;
      background: none;
      border-bottom: none;
      padding-bottom: 0;
      h2 {
        border-radius: 0.3em 0.3em 0 0;
        padding: 0.2em;
        margin: 0;
        background: $hhcyan;
      }
    }
    tr:hover td {
      background: $dcyan;
    }
    table {
      margin-bottom: 0;
      overflow: hidden;
    }
  }
}
#alert {
  border: solid 1px red;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  color: red;
  margin-bottom: 0.5em;
  font-size: 1.25em;
}

#notice {
  border: solid 1px $magenta;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  color: $magenta;
  margin-bottom: 0.5em;
}
.emoji {
  height: 1em;
}
.mtabs .mtab {
  padding: 1em;
}
.mtabs .mtabgap, .mtabs a {
  float: left;
}
.mtabs .mtabgap {
  min-width: 2px;
  margin: 0 -1px;
  padding: 0.44em 1px;
  border-bottom: 1px solid $cyan;
  letter-spacing: -4px;
}
.mtabs a, {
  border: 1px solid $cyan;
  border-radius: 0.5em 0.5em 0 0;
  padding: 0.5em 0.4em 0.3em 0.4em;
}
.mtabs a.active {
  border-bottom: none;
}
.mtabs a:hover {
  background: $hcyan;
}

#mailbox {
  min-width: 420px;
}

#mails {
  float: left;
  width: 25%;
  min-width: 10.5em;
  max-height: 40em;
}

#mails .maili {
  border-bottom: solid 1px $hcyan;
  padding: 0.5em;
  a {
    color: $cyan;
  }
  span {
    color: $lcyan;
    b {
      color: $acyan;
    }
  }
}

.maili:hover {
  cursor: pointer;
  background: $hcyan;
}

#mailbody {
  width: 71%;
  min-height: 12em;
  border-left: solid 1px $hcyan;
  float: right;
  margin-left: 0.4em;
  padding-left: 0.5em;
  .btn {
    float: right;
  }
}

#foot {
  clear: both;
  font-style: italic;
  font-size: 0.7em;
  padding-top: 0.4em;
  border-top: solid 1px $pcyan;
  a {
    color: $pcyan;
  }
}
small {
  line-height: 1em;
}

@keyframes huey {
  from {
    filter: hue-rotate(180deg);
  }
  to {
    filter: hue-rotate();
  }
}
@keyframes blurry {
  from {
    filter: blur(0.5em);
  }
  to {
    filter: blur();
  }
}
@keyframes shakey {
  0% {
    margin-top: -1em;
  }
  25% {
    margin-top: 3em;
  }
  75% {
    margin-left: 3em;
  }
  100% {
    margin-left: 0em;
  }
}
.huey {
  animation: huey 3s 1 ease-out;
}
.blurry {
  animation: blurry 3s 1 ease-out;
}
.shakey {
  animation: shakey .06s infinite ease-in;
}
