/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$bcyan: #B9FDE6;
$cyan: #73F8ED;
$acyan: #5CC1BA;
$lcyan: #3C8469;
$pcyan: #306E61;
$dcyan: #0D2120;
$magenta: #f8429D;

$hcyan: rgba(115, 248, 237, 0.2);
$hhcyan: rgba(115, 248, 237, 0.8);

body {
  margin: 0;
  background: $dcyan;
}

a {
  text-decoration: none;
  color: $dcyan;
}

canvas {
  position: absolute;
  z-index: -1;
}
#win { opacity: 0.8;
  position: absolute;
  top: 10%;
  left: 5%;
  max-width: 800px;
  padding: 3px;
  h1 {
    min-width: 500px;
    font-size: 1.6em;
    font-style: italic;
    text-align: left;
    padding: 0.3em 0.6em;
    background: $hhcyan;
    color: $dcyan;
    margin: 0;
    border-radius: 0.4em 0.4em 0 0;
  }
  .login {
    float: right;
    margin: 0.3em 0.5em;
    font-weight: bold;
    color: $pcyan;
  }
  .login a:hover {
    color: $bcyan;
  }
}
#win, #win input, .btn a, textarea {
  font-family: monospace;
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0.75);
  color: $cyan !important;
  border: solid 1px $cyan;
  border-radius: 0.9em;
}
#win input, .btn a {
  padding: .7em 2em;
}
#win input:hover, .btn a:hover {
  cursor: pointer;
  background-color: $hcyan;
}
#win input:active, .btn a:active {
  background-color: $hhcyan;
}
.btn a {
  display: inline;
  margin-left: 2em;
}
#winb {
  margin: 1em;
  pre {
    font-size: 0.7em;
    text-shadow: 0 1px $cyan;
  }
  a {
    color: $bcyan;
  }
  a:hover {
    color: $pcyan;
  }
  h3 {
    color: $lcyan;
  }
  table {
    border-radius: 0.6em;
    border-spacing: 0;
    border: solid 1px $cyan;
    border-bottom: none;
    th, td {
    border-radius: 0.5em;
      padding: 0.8em;
        border-right: solid 1px $hcyan;
      border-bottom: solid 1px $cyan;
    }
    th {
      background: $hcyan;
    }
    td {
      color: $acyan;
    }
    tr:hover td {
      background: $dcyan;
    }
  }
}
#notice {
  border: solid 1px $magenta;
  border-radius: 0.5em;
  padding: 0.5em;
  color: $magenta;
  margin-bottom: 0.5em;
}
#foot {
  clear: both;
  text-align: right;
  font-style: italic;
  font-size: 0.5em;
  top: 1em;
  position: relative;
  padding-top: 0.5em;
  border-top: solid 1px $pcyan;
  color: $pcyan;
}


#win .emoji {
filter: hue-rotate(130deg) brightness(.1);
position: relative;
top: 2px;
height: 1em;
width: 1em;
}
#winb .emoji {
  height: 2em;
  width: 2em;
  filter: hue-rotate(130deg);
  //animation-name: colors;
  animation-duration: 0.088s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  position:relative;
}
@keyframes colors {
  0% {
    top: 0; left: 1px; background: none;
  filter: hue-rotate(125deg);}
  90% {
    top: 0;
  filter: hue-rotate(125deg);}
    96% { top: 1px; left: 0px;
      filter: hue-rotate(185deg); background: none;}
  100% { top: 0; left: 2px;
    filter: hue-rotate(125deg); background: #887D03;}
}

#mails {
  float: left;
  margin: -1.2em;
  padding: 1em;
  width: 20%;
}

#mails .maili {
  border-bottom: solid 1px $cyan;
  padding: 1em;
  a {
    color: $cyan;
    display: block;
  }
  span {
    color: $pcyan;
  }
}

.maili:hover {
  cursor: pointer;
  background: $hcyan;
}

#mailbody {
  width: 75%;
  border-left: solid 1px $cyan;
  float: left;
  min-height: 19em;
  margin-left: 1em;
  padding-left: 1em;
  .btn {
    float: right;
    margin: 1em -1.5em;
  }
}
